.carousel-container {
  width: auto;
  position: fixed;
}

.carousel-img {
  width: 100vw;
  height: 100vh;
}

.carousel-caption {
  bottom: 10%;
}

h2 {
  margin: auto;
  font-size: 80px;
  border:solid gray;
  border-radius: 15px;
  background-color: gray;
}
