<!-- templates/registration/login.html -->
{% extends 'baseNoLogin.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="jumbotron h-100">
  <div class="container">
    <div class="row">
      <div class="offset-4 col-4">
        <div class="card">
          <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
          <div class="card-body">
            <form method="post" class="form-signin">
              <h2 class="form-signin-heading text-center">Log In</h2>
              {% csrf_token %}
              {{ form.non_field_errors }}
              <div class="form-group row">
                  {{ form.username.errors }}
                  <label class="col-5" for="{{ form.username.id_for_label }}">User Name:</label>
                  <div class="col-7">{{ form.username }}</div>
              </div>
              <div class="form-group row">
                  {{ form.password.errors }}
                  <label class="col-5" for="{{ form.password.id_for_label }}">Password:</label>
                  <div class="col-7">{{ form.password }}</div>
              </div>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}