/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

.snackbar {
  .mat-simple-snackbar {
    font-size:40px !important;
    padding: 7px;
  }

  .mat-button-wrapper {
    font-size: 50px !important;
  }
}

.mat-snack-bar-container {
  max-width: 100vw !important;
}


::ng-deep mat-keyboard-container {
  max-width: 100% !important;
  width: 100% !important;
}


